<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

	<!-- this button show Alert Box -->
  <ion-button color="dark" expand="block" shape="round" (click)='presentAlertConfirm()'>Show Alert
  	<ion-icon slot="end" name="alert"></ion-icon>
  </ion-button>

  	<!-- card -->
  	<ion-card (click)='presentToast()'>
	  <ion-card-header>Card Header
	    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
	    <ion-card-title>Card Title</ion-card-title>
	  </ion-card-header>

	  <ion-card-content>
	    This is Example for card with Header, Subtitle and Title. When you click this one it show Toast
	  </ion-card-content>
	</ion-card>

	<!-- fab button and route to Secound Page -->
	<ion-fab (click)='goto()' vertical="bottom" horizontal="end" slot="fixed">
		<ion-fab-button >
			<ion-icon name="add"></ion-icon>
		</ion-fab-button>
	</ion-fab>

</ion-content>
